.pytest_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
api/statics
dist
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.egg-info
build
.tmp
.vscode
.idea
smoosense/statics/cache
smoosense/statics/_next/
data/readme.md
